
/* base styles */

body { font-family: 'Open Sans', sans-serif; }
h1, .h1 {  font-size:24px !important; text-align: center; color:#4AC7E9; margin: 15px 0; text-transform: uppercase; }

h1.nocase, .h1.nocase { text-transform: none !important;}
h1 .grey { color:#a5a9ac}


h2, .h2 {  font-size:16px !important;  color:#000000; margin: 15px 0; text-transform: uppercase; line-height:20px; }

p { color:#595959; }
p.big { font-size:18px; color:#A6A8AC;}
p.white { color:#ffffff; }
p.small {  font-size:12px !important; }
p strong { font-weight:normal; text-transform: uppercase; color:#000000; font-size:14px;}
.highlight { color:#4AC7E9; }
p em { color:#4AC7E9; } 

a:link, a:visited { color:#4AC7E9; }

/* core elements */

#header { height:82px; position:fixed; z-index: 4; background: #fff; width:100%; box-shadow: 0 0 6px rgba(0,0,0,0.1)}

#header .header { position: relative; z-index: 2; height: 82px; background: #fff; }
#header .header-submenu { position: relative; z-index: 1; }

#rightlinks { float:right; margin-top:30px; font-size:17px;}
#rightlinks #menu { display:inline-block; width:90px; color:#47c7ec; margin:0 0 0 10px; cursor:pointer; }
#rightlinks #menu.open { opacity:0.5;}
#rightlinks #phone { margin:0 30px 0 0; line-height:20px;}
#rightlinks .btn { margin:0 10px 0 0; padding:2px 12px; position:relative; }
#rightlinks #hamburger { width:25px; float:left; margin:5px 7px 0 0;}
#rightlinks #menu span { background-color: #48c7ea; height:3px; margin-bottom: 3px; display: block;  }

#rightlinks .buttondropdown { position:absolute; z-index: 9999; text-align:left;background-color: rgba(0,0,0,0.7); padding:20px; margin: 0; top:48px; left:0;}
#rightlinks .buttondropdown .btn { display:none;}
.dropdown-menu { border-radius:0; }
#rightlinks .buttondropdown a {}


#menubar { position:absolute; top:100%; background-color: rgba(0,0,0,0.7);width:300px;  text-transform: uppercase; padding:20px 30px 20px 0; text-align: right; right:0; z-index: 2; transform: translateY(-100%); transition: all .40s ease-in; transition-timing-function: cubic-bezier(0.42, 0, 1, 1);}
#menubar ul li a { transition: all .35s ease-in-out; color: rgba(255,255,255,0); }

#menubar.open  { transition: all .50s ease-out; transition-timing-function: cubic-bezier(0, 0, 0.58, 1); transform: translateY(0%); }
#menubar.open ul li a { transition-delay: .25s; color: rgba(255,255,255,1); }
#menubar a { color:#FFFFFF; text-decoration: none;}
#menubar p a { color:#47c7ea; }
#menubar ul { margin:0; padding:0; list-style-type: none; line-height:30px;}



#banner1 { height:480px; width:100%; overflow:hidden; margin-bottom: 0; }
#banner1 .slick-prev { width:61px; height:61px; background-image: url(media/leftarrow.png); z-index: 99; left:100px; }
#banner1 .slick-prev:hover { background-image: url(media/leftarrowover.png); }
#banner1 .slick-prev:before { content:'';}
#banner1 .slick-next:before { content:'';}
#banner1 .slick-next { width:61px; height:61px; background-image: url(media/rightarrow.png); z-index: 99; right:100px;}
#banner1 .slick-next:hover { background-image: url(media/rightarrowover.png); }
#banner1 .slick-slide { position: relative; height:480px; background-size:cover;}
#banner1 .slick-dots { display:none; }
#banner1 p { position:absolute; top:360px; font-size:30px; line-height:40px; color:#FFFFFF; text-transform: uppercase;}
#banner1 p span { font-size:50px;}

#container-footer { background-image: url(../../images/front/footer.jpg); padding:40px 0; background-size: cover; }
#container-footer p { font-size:11px !important; color:#424242 !important; line-height:20px; margin-bottom: 20px; }
#container-footer p a { color:#000000; text-decoration: none;  }

/* specific pages */

/* home */


.container.support { margin-top:30px; margin-bottom: 30px; text-align: center; }
.container.support .h1 { margin-bottom: 5px;}
.container.support .module { margin-top: 10px;}
.container.support .module p { text-align: center; }
.container.support .module img { margin-bottom: 10px;}
.container.support .module p strong { font-weight:normal; text-transform: uppercase; color:#000000; font-size:14px;}

#circles .slick-slide .circle {  width:220px; height:220px; border-radius:220px; position:relative; overflow:hidden; display: block; margin-left: auto; margin-right: auto; background-color:rgba(71,199,236,0); transition: all .45s ease; }
#circles .slick-slide .circle:hover { background-image: none; background-color:#47c7ec; text-decoration: none;  }
#circles .slick-slide .circle .background { position:absolute; top:0; height:220px; width:auto;  opacity:0.4;}
#circles .slick-slide .content {  text-align: center; color:#414141; font-size:17px; line-height:20px;  font-weight:600;  position:relative; z-index: 2; margin-top: 60px;   text-transform:uppercase;}
#circles .slick-slide .content img { width:auto; margin-left: auto; margin-right: auto;}

#circles .slick-prev { width:61px; height:61px; background-image: url(../../images/front/leftarrow.png); z-index: 99; left:-30px; }
#circles .slick-prev:before { content:'';}
#circles .slick-next:before { content:'';}
#circles .slick-next { width:61px; height:61px; background-image: url(../../images/front/rightarrow.png); z-index: 99; right:-30px;}
#circles .slick-prev:hover { background-image: url(../../images/front/leftarrowover.png); }
#circles .slick-next:hover { background-image: url(../../images/front/rightarrowover.png); }

#partners { position:relative;}
#partners .slick-prev { width:61px; height:61px; background-image: url(../../images/front/leftarrow.png); z-index: 99; left:-45px; top:50px; }
#partners .slick-prev:before { content:'';}
#partners .slick-next:before { content:'';}
#partners .slick-next { width:61px; height:61px; background-image: url(../../images/front/rightarrow.png); z-index: 99; right:-45px;top:50px;}
#partners .slick-prev:hover { background-image: url(../../images/front/leftarrowover.png); }
#partners .slick-next:hover { background-image: url(../../images/front/rightarrowover.png); }

table#contactform  { width:50%; }
table#contactform tr td:first-child { width:100px; }
#contactform textarea { width:100%; height:100px; }



/* containers */
.container-lime { background-color: #bfd630; color:#FFFFFF !important; text-align: center; padding:13px 0;  }
.container-lime h1 { margin:20px 0 20px 0; color:#FFFFFF;}
.container-lime p { font-size:15px; line-height:22px; color:#FFFFFF;}


.container-aqua { background-color: #47c7ec; color:#FFFFFF !important; text-align: center; padding:13px 0;  }
.container-aqua h1 { margin:20px 0 20px 0; color:#FFFFFF;}
.container-aqua p { font-size:15px; line-height:22px; color:#FFFFFF;}

.container-grey { background-color: #a5a9ac; text-align: center; margin-top:40px; margin-bottom: 50px; padding-top:25px; padding-bottom: 10px; }
.container-grey p { color:#FFFFFF; text-transform: uppercase; font-size:16px;  }
.container-grey .btn { line-height:20px; }

.container-aqua.subscribe { text-align: left; padding:30px 0; margin-top:20px;}
.container-aqua.subscribe .h1 { text-align: left; margin-top:0;}
.container-aqua.subscribe p { text-align: left; color:#FFFFFF;}
.container-aqua.subscribe input { border:none; color:#47c7ec; border-radius: 0; margin:0 0 10px 0;}

.container.book { margin-top:20px; margin-bottom: 20px; text-align: center; padding-top:25px; padding-bottom: 25px;}
.container.book span { font-size:20px; color:#47c7ec;}
.container.book .btn { margin-right:15px;}

/* standard template */
.left-column { border-top:3px #47c7ec solid; margin-top:65px; padding-top:20px;}
.left-column .sub-nav p, .left-column #replacement-sub-nav p { margin:2px 0; text-transform:uppercase}
.left-column .sub-nav p a { color:#000000;}
.left-column .sub-nav a { color:#000000;} 
.left-column .sub-nav a.selected { color:#4AC7E9; }
.right-column { padding-top:10px; }
.right-column h1 { text-align: left; margin:37px 0 30px 0; }
.right-column p+h1 { margin-top:0; }


.three-boxes { margin-top:30px; margin-bottom: 30px; }

.row .col-md-4 { margin-bottom:10px; }
.row .col-md-4:nth-child(3n+1) { clear:both; }

/* members */
#upgradetable tr:nth-child(2n+1) { border-bottom:1px #cccccc solid; }
#upgradetable tr td { padding:3px 3px; }


/* buttons */
.btn { border-radius:0; color:#47c7ec; text-transform: uppercase; }
.btn-default { border:1px #47c7ec solid;   }
.btn-primary { border:1px #47c7ec solid; background-color:#47c7ec; color:#FFFFFF !important;  }
.btn-white { border:1px #ffffff solid !important; color:#FFFFFF !important; background-color:transparent !important; }

/* misc */
.line { height:1px; background-color: #c2c3c5; margin-top:40px; margin-bottom: 40px;}
.grey { color:#A6A8AC !important; }
.darkgrey { color:#414142;}
.clear { clear:both; }

/* forms */
.compulsory, .compulsary { color:#ff0000; font-size:15px; font-weight:bold; margin:0 5px 0 0px; }
table.hascompulsory input[type=text], table.hascompulsory select { width:auto; display:inline-block; }
table input, table select, table textarea, table input[type=password] { margin:5px;     border: 1px solid #ccc; }
input[type=submit] { margin:20px 0 20px 0; }
input[type=text], select, input[type=password] {     
	display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc; 
}


table.newsletter-training-signup input[type=text], table.newsletter-training-signup select { width:90% !important; }


.error {
	display:block;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.error:empty { display:none; }
.form-control { border-radius:0; }

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { background-color:#4AC7E9; border:none; border-radius:0; }
.ui-corner-top { border-radius:0; }

.pm-award-winners:nth-child(4n+1) { clear:both; }
.productlist.row:nth-child(3n+1) { clear:both; }

ul.pagination li.active a {
    background-color: #4AC7E9!important; 
    border-color: #4AC7E9!important; 
    color: #ffffff!important;
}

ul.pagination li a {
    color: #4AC7E9!important;
}

.full-width-white {
    width: 100%!important;
    background-color: #fff!important;
}

.container-body {
    position: relative;
    background-color: #fff!important;
    z-index: 2;
}

#scroll-top-btn {
    position: fixed;
    bottom:0;
    right: 0;
    z-index: 3;
    margin-right: 2%;
    margin-bottom: 2%;
}

.btn {
    transition: all .45s ease;
}

.accordion .panel-heading {
    background: #F2F5F7;
    padding: 13px;
    width: 100%;
    display: block;
}

hr.style-two {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

ul.to_do {
    padding: 0
}
ul.to_do li {
    background: #f3f3f3;
    border-radius: 3px;
    position: relative;
    padding: 7px;
    margin-bottom: 5px;
    list-style: none
}
ul.to_do p {
    margin: 0
}

.panel_toolbox {
    float: right;
}
.panel_toolbox>li {
    float: left;
    cursor: pointer
}
.panel_toolbox>li>a {
    padding: 5px;
    color: #C5C7CB;
    font-size: 14px
}
.panel_toolbox>li>a:hover {
    background: #F5F7FA
}

.x_panel {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 17px;
    display: inline-block;
    background: #fff;
    border: 1px solid #E6E9ED;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    opacity: 1;
    transition: all .2s ease
}
.x_title {
    border-bottom: 2px solid #E6E9ED;
    padding: 1px 5px 6px;
    margin-bottom: 10px
}
.x_title .filter {
    width: 40%;
    float: right
}
.x_title h2 {
    margin: 5px 0 6px;
    float: left;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}
.x_title h2 small {
    margin-left: 10px
}
.x_title span {
    color: #BDBDBD
}
.x_content {
    padding: 0 5px 6px;
    position: relative;
    width: 100%;
    float: left;
    clear: both;
    margin-top: 5px
}
.x_content h4 {
    font-size: 16px;
    font-weight: 500
}

/* Really Small devices (phones) */
@media (max-width: 767px) {
    #header { height:auto; padding-bottom:10px;}
    #phone { display:block; margin:5px 0;}
    #rightlinks { position:relative; top: auto; right:auto;}
    #rightlinks .btn-group { float:left; display:block; padding:0 5px; width:32%;}
    #rightlinks .btn { width:32%; }
    #rightlinks .btn-group .btn { width:100%; }
    #menu { position:absolute; right:5px; top:0px;}
    #container-footer {  background-image:none; background-color: #f4f4f6;}

    .left-column { margin-top: 10px; }
	
	#banner1 { height:auto; }
	
	#banner1 .slick-slide { background-image:none !important;  height:auto;}

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #header #logo { width:150px; margin:30px 0;}

}



/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

    #header #logo { width:auto; margin-top:20px;}
	.three-boxes div img { max-height:160px !important;  }
	#partners img { max-height:120px; }


}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
 .container{
        width: 1200px;
  }

}