.single-table {
  background: #f4f4f4;
  padding: 0px 0px 50px;
  border-bottom: 2px solid #414142;
  margin: 20px 0 20px;
}
.plan-header {
  background: #47c7eb;
  padding: 20px 0px;
  color: #fff;
  margin-bottom: 20px;
  border-bottom: 2px solid #414142;
}

/*--- Premium Section ---*/
.premium-ribbon {
    position: absolute;
    top: 20px;
    right: 15px;
}
.premium-btn {
  background: #f06724 !important;
}
.premium-btn:hover {
  border-color: #f06724 !important;
  color: #f06724 !important;
}
.premium-features li i {
  color: #f06724 !important;
}
/*--- End of Premium Section ---*/


.header-separator {
  width: 60%;
  height: 1px;
  background: #fff;
  margin: 0 auto;
}
.plan-price {
    font-size: 80px;
    margin-bottom: -5px;
}
.plan-price sup {
  font-size: 30px;
  top: -35px !important;
}
.per-month {
  color: #414142;
}
.plan-features {
  padding: 0px;
  margin-bottom: 50px;
}
.plan-features li {
list-style: none;
  padding: 20px 0px 20px;
  font-size: 18px;
  border-bottom: 1px dashed #e1e1e1;
}
.plan-features li i {
  color: #47c7eb;
}
.plan-submit {
  background: #47c7eb;
  color: #fff;
  padding: 10px 40px;
  font-size: 21px;
  width: 200px !important;
  text-transform: uppercase;
}
.plan-submit:hover {
  background: transparent;
  text-decoration: none;
  border: 2px solid #47c7eb;
  color: #47c7eb;
}